/* Estilos Generales */
.container {
  max-width: 1200px;
}

/* Imagen de productos */
.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Carrito de compras */
.cart-container {
  background-color: black; 
  color: white; 
  padding: 20px;
  border-radius: 10px;
}

.cart-container h2 {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

/* Producto en el carrito */
.carrito-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid white; 
}

.carrito-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.carrito-item strong {
  flex-grow: 1;
}

.carrito-item button {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: red;
  cursor: pointer;
}

/* Métodos de Pago */
.payment-methods img {
  width: 50px;
  margin-right: 10px;
}

/* Botón de cupón */
.btn-dark {
  font-weight: bold;
  border-radius: 5px;
  background-color: black !important;
  border: 2px solid white;
}

.btn-dark:hover {
  background-color: gray !important;
}

.hidden {
  display: none;
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* o el tamaño que desees */
  height: 100vh; /* o el tamaño que desees */
}

.carousel {
  width: 80%; /* Aumenta el tamaño del carousel */
  height: auto; /* Ajusta la altura en proporción a la imagen */
}

.carousel-inner {
  width: 100%; /* Asegura que el contenedor de imágenes ocupe todo el espacio */
}

.carousel-item img {
  width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Ajusta la altura proporcionalmente */
}

.product-link {
  display: block;
  border: none; /* Sin bordes */
  padding: 0; /* Sin relleno */
  background: none; /* Sin fondo */
  cursor: pointer; /* Cambia el cursor cuando pasa sobre el botón */
}


.product-link:hover img {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen cuando se pasa el ratón */
}